<header>
  <h1>{{ pageTitle }}</h1>
  <ul style="margin: 0; padding: 0;">
    <li style="display: inline; list-style-type: none"><a href="/">Home</a> | </li>
    <li style="display: inline; list-style-type: none"><a href="/about">About</a> | </li>
    <li style="display: inline; list-style-type: none"><a href="/projects">Projects</a></li>
  </ul>
</header>