<!DOCTYPE html>
<html lang="EN">
  <head>
    <meta charset="utf-8"/>
    <title>Site Maintenance</title>
  </head>
  <body>
    <main>
      <h1>We'll Be Right Back!</h1>
      <p>{{ printMaintenanceMessage }}</p>
    </main>
  </body>
</html>